.about-me__container {
  /* background-color: #8983c4; */
  background: #8983c4 url('../../public/images/hexbg2.jpeg') center/cover
    no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 87vh;
  width: 100%;
}

.about-me__img-container {
  margin-top: auto;
  margin-right: auto;
  height: 90%;
  width: 100%;
}

.about-me__img-container img {
  float: right;
  width: auto;
  height: 100%;
}

.about-me__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-left: 15vw;
  width: 70%;
}

.about-me__wrapper h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.about-me__wrapper p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 960px) {
  .about-me__wrapper > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .about-me__container {
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
  }

  .about-me__wrapper {
    padding-left: 0;
  }
  .about-me__wrapper > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .about-me__wrapper > p {
    font-size: 30px;
  }

  .about-me__img-container {
    display: none;
  }
}
